.btn-custom {
    background-color: #FF521B; 
    color: #fff !important
}

.custom-row-book-room {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

.custom-row-book-room > .btn-orange {
    border-radius: 35px;  
    background-color: #FF521B; 
    color: #fff !important; 
}
